https://datafai.com/2017/11/04/logistic-regression-using-scikit-python/

If you are not familiar with logistics regression, please read this article first. Moreover, if you are not familiar with the sklearn machine learning model building process, please read this article also.

Assuming you are now familiar, this is how you can build a logistic regression model in Python using machine learning library Scikit.  Please read here about the dataset and dummy coding.

In [9]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import metrics,preprocessing
from sklearn.metrics import mean_absolute_error
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve,auc,recall_score,precision_score,accuracy_score,f1_score,confusion_matrix,average_precision_score,recall_score
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [10]:
#Import File
df=pd.read_csv("C:\\backup\\Reva\\RP\\WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [11]:
#Explore Data
df.shape
type(df)
df.size
df.head()
df.tail()

(7043, 21)

pandas.core.frame.DataFrame

147903

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

# Check for Missing Values

In [12]:
pd.isnull(df).any()
pd.isnull(df).sum()
#find type of each variable, object means string or categorical in the below output
df.info()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
Churn               False
dtype: bool

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 660.3+ KB

In [13]:
#except the below variables,all other variables are categorical
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [14]:
#Find out number of customers who churned vs who didn't
print('Count of Labels')
df.groupby("Churn").size()

Count of Labels

Churn
No     5174
Yes    1869
dtype: int64

In [15]:
for col in df.columns:
    print('Count of ',col)
    df.groupby(col).size()

('Count of ', 'customerID')

customerID
0002-ORFBO    1
0003-MKNFE    1
0004-TLHLJ    1
0011-IGKFF    1
0013-EXCHZ    1
0013-MHZWF    1
0013-SMEOE    1
0014-BMAQU    1
0015-UOCOJ    1
0016-QLJIS    1
0017-DINOC    1
0017-IUDMW    1
0018-NYROU    1
0019-EFAEP    1
0019-GFNTW    1
0020-INWCK    1
0020-JDNXP    1
0021-IKXGC    1
0022-TCJCI    1
0023-HGHWL    1
0023-UYUPN    1
0023-XUOPT    1
0027-KWYKW    1
0030-FNXPP    1
0031-PVLZI    1
0032-PGELS    1
0036-IHMOT    1
0040-HALCW    1
0042-JVWOJ    1
0042-RLHYP    1
             ..
9948-YPTDG    1
9950-MTGYX    1
9953-ZMKSM    1
9955-QOPOY    1
9957-YODKZ    1
9958-MEKUC    1
9959-WOFKT    1
9961-JBNMK    1
9962-BFPDU    1
9964-WBQDJ    1
9965-YOKZB    1
9967-ATRFS    1
9968-FFVVH    1
9970-QBCDA    1
9971-ZWPBF    1
9972-EWRJS    1
9972-NKTFD    1
9972-VAFJJ    1
9974-JFBHQ    1
9975-GPKZU    1
9975-SKRNR    1
9978-HYCIN    1
9979-RGMZT    1
9985-MWVIX    1
9986-BONCE    1
9987-LUTYD    1
9992-RRAMN    1
9992-UJOEL    1
9993-LHIEB    1
9995-HOTOH    1
Length: 7043, dtype: int64

('Count of ', 'gender')

gender
Female    3488
Male      3555
dtype: int64

('Count of ', 'SeniorCitizen')

SeniorCitizen
0    5901
1    1142
dtype: int64

('Count of ', 'Partner')

Partner
No     3641
Yes    3402
dtype: int64

('Count of ', 'Dependents')

Dependents
No     4933
Yes    2110
dtype: int64

('Count of ', 'tenure')

tenure
0      11
1     613
2     238
3     200
4     176
5     133
6     110
7     131
8     123
9     119
10    116
11     99
12    117
13    109
14     76
15     99
16     80
17     87
18     97
19     73
20     71
21     63
22     90
23     85
24     94
25     79
26     79
27     72
28     57
29     72
     ...
43     65
44     51
45     61
46     74
47     68
48     64
49     66
50     68
51     68
52     80
53     70
54     68
55     64
56     80
57     65
58     67
59     60
60     76
61     76
62     70
63     72
64     80
65     76
66     89
67     98
68    100
69     95
70    119
71    170
72    362
Length: 73, dtype: int64

('Count of ', 'PhoneService')

PhoneService
No      682
Yes    6361
dtype: int64

('Count of ', 'MultipleLines')

MultipleLines
No                  3390
No phone service     682
Yes                 2971
dtype: int64

('Count of ', 'InternetService')

InternetService
DSL            2421
Fiber optic    3096
No             1526
dtype: int64

('Count of ', 'OnlineSecurity')

OnlineSecurity
No                     3498
No internet service    1526
Yes                    2019
dtype: int64

('Count of ', 'OnlineBackup')

OnlineBackup
No                     3088
No internet service    1526
Yes                    2429
dtype: int64

('Count of ', 'DeviceProtection')

DeviceProtection
No                     3095
No internet service    1526
Yes                    2422
dtype: int64

('Count of ', 'TechSupport')

TechSupport
No                     3473
No internet service    1526
Yes                    2044
dtype: int64

('Count of ', 'StreamingTV')

StreamingTV
No                     2810
No internet service    1526
Yes                    2707
dtype: int64

('Count of ', 'StreamingMovies')

StreamingMovies
No                     2785
No internet service    1526
Yes                    2732
dtype: int64

('Count of ', 'Contract')

Contract
Month-to-month    3875
One year          1473
Two year          1695
dtype: int64

('Count of ', 'PaperlessBilling')

PaperlessBilling
No     2872
Yes    4171
dtype: int64

('Count of ', 'PaymentMethod')

PaymentMethod
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Electronic check             2365
Mailed check                 1612
dtype: int64

('Count of ', 'MonthlyCharges')

MonthlyCharges
18.25      1
18.40      1
18.55      1
18.70      2
18.75      1
18.80      7
18.85      5
18.90      2
18.95      6
19.00      7
19.05      9
19.10     12
19.15     11
19.20     17
19.25     18
19.30     24
19.35     25
19.40     31
19.45     28
19.50     32
19.55     40
19.60     37
19.65     43
19.70     43
19.75     39
19.80     38
19.85     45
19.90     44
19.95     44
20.00     43
          ..
115.80     4
115.85     1
116.00     1
116.05     3
116.10     2
116.15     1
116.20     1
116.25     3
116.30     1
116.40     1
116.45     1
116.50     1
116.55     1
116.60     2
116.75     1
116.80     1
116.85     1
116.95     1
117.15     1
117.20     1
117.35     1
117.45     1
117.50     1
117.60     1
117.80     1
118.20     1
118.35     1
118.60     2
118.65     1
118.75     1
Length: 1585, dtype: int64

('Count of ', 'TotalCharges')

TotalCharges
           11
100.2       1
100.25      1
100.35      1
100.4       1
100.8       1
100.9       1
1001.2      1
1001.5      1
1003.05     1
1004.35     1
1004.5      1
1004.75     1
1005.7      1
1006.9      1
1007.8      1
1007.9      1
1008.55     1
1008.7      2
1009.25     1
101.1       1
101.45      1
101.65      1
101.9       1
1010        1
1011.05     1
1011.5      1
1011.8      1
1012.4      1
1013.05     1
           ..
98.5        2
980.35      1
981.45      1
982.95      1
985.05      1
987.95      2
989.05      2
989.45      1
99.45       1
99.6        1
99.75       2
99.95       1
990.3       1
990.45      1
990.85      1
990.9       1
992.7       1
993.15      1
994.55      1
994.8       1
995.35      1
996.45      1
996.85      1
996.95      1
997.65      1
997.75      1
998.1       1
999.45      1
999.8       1
999.9       1
Length: 6531, dtype: int64

('Count of ', 'Churn')

Churn
No     5174
Yes    1869
dtype: int64

In [31]:
for col in df.columns:    
    if len(df[col].unique().tolist())<=5:
        #print ("Unique items in" , col , len(df[col].unique().tolist()))
        #print('Count of ',col)
        df.groupby(col).nunique()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
gender,,,,,,,,,,,,,,,,,,,,,
Female,3488,1,2,2,2,73,2,3,3,3,...,3,3,3,3,2,4,1270,3345,2,2
Male,3555,1,2,2,2,73,2,3,3,3,...,3,3,3,3,2,4,1286,3376,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
SeniorCitizen,,,,,,,,,,,,,,,,,,,,,
0,5901,2,1,2,2,73,2,3,3,3,...,3,3,3,3,2,4,1505,5486,2,2
1,1142,2,1,2,2,72,2,3,3,3,...,3,3,3,3,2,4,719,1126,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
Partner,,,,,,,,,,,,,,,,,,,,,
No,3641,2,2,1,2,73,2,3,3,3,...,3,3,3,3,2,4,1241,3349,2,2
Yes,3402,2,2,1,2,73,2,3,3,3,...,3,3,3,3,2,4,1290,3346,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
Dependents,,,,,,,,,,,,,,,,,,,,,
No,4933,2,2,2,1,72,2,3,3,3,...,3,3,3,3,2,4,1431,4615,2,2
Yes,2110,2,2,2,1,73,2,3,3,3,...,3,3,3,3,2,4,993,2066,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
PhoneService,,,,,,,,,,,,,,,,,,,,,
No,682,2,2,2,2,73,1,1,1,2,...,2,2,2,3,2,4,392,667,2,2
Yes,6361,2,2,2,2,73,1,2,3,3,...,3,3,3,3,2,4,1401,5923,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
MultipleLines,,,,,,,,,,,,,,,,,,,,,
No,3390,2,2,2,2,73,1,1,3,3,...,3,3,3,3,2,4,943,3070,2,2
No phone service,682,2,2,2,2,73,1,1,1,2,...,2,2,2,3,2,4,392,667,2,2
Yes,2971,2,2,2,2,73,1,1,3,3,...,3,3,3,3,2,4,1077,2935,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
InternetService,,,,,,,,,,,,,,,,,,,,,
DSL,2421,2,2,2,2,73,2,3,1,2,...,2,2,2,3,2,4,933,2326,2,2
Fiber optic,3096,2,2,2,2,72,1,2,1,2,...,2,2,2,3,2,4,854,2995,2,2
No,1526,2,2,2,2,73,1,2,1,1,...,1,1,1,3,2,4,123,1382,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
OnlineSecurity,,,,,,,,,,,,,,,,,,,,,
No,3498,2,2,2,2,73,2,3,2,1,...,2,2,2,3,2,4,1188,3311,2,2
No internet service,1526,2,2,2,2,73,1,2,1,1,...,1,1,1,3,2,4,123,1382,2,2
Yes,2019,2,2,2,2,73,2,3,2,1,...,2,2,2,3,2,4,1096,2007,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
OnlineBackup,,,,,,,,,,,,,,,,,,,,,
No,3088,2,2,2,2,73,2,3,2,2,...,2,2,2,3,2,4,1132,2918,2,2
No internet service,1526,2,2,2,2,73,1,2,1,1,...,1,1,1,3,2,4,123,1382,2,2
Yes,2429,2,2,2,2,73,2,3,2,2,...,2,2,2,3,2,4,1161,2407,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
DeviceProtection,,,,,,,,,,,,,,,,,,,,,
No,3095,2,2,2,2,73,2,3,2,2,...,2,2,2,3,2,4,1126,2918,2,2
No internet service,1526,2,2,2,2,73,1,2,1,1,...,1,1,1,3,2,4,123,1382,2,2
Yes,2422,2,2,2,2,73,2,3,2,2,...,2,2,2,3,2,4,1127,2399,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
TechSupport,,,,,,,,,,,,,,,,,,,,,
No,3473,2,2,2,2,73,2,3,2,2,...,1,2,2,3,2,4,1189,3280,2,2
No internet service,1526,2,2,2,2,73,1,2,1,1,...,1,1,1,3,2,4,123,1382,2,2
Yes,2044,2,2,2,2,73,2,3,2,2,...,1,2,2,3,2,4,1078,2027,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
StreamingTV,,,,,,,,,,,,,,,,,,,,,
No,2810,2,2,2,2,73,2,3,2,2,...,2,1,2,3,2,4,1036,2632,2,2
No internet service,1526,2,2,2,2,73,1,2,1,1,...,1,1,1,3,2,4,123,1382,2,2
Yes,2707,2,2,2,2,73,2,3,2,2,...,2,1,2,3,2,4,1076,2682,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
StreamingMovies,,,,,,,,,,,,,,,,,,,,,
No,2785,2,2,2,2,73,2,3,2,2,...,2,2,1,3,2,4,1038,2605,2,2
No internet service,1526,2,2,2,2,73,1,2,1,1,...,1,1,1,3,2,4,123,1382,2,2
Yes,2732,2,2,2,2,73,2,3,2,2,...,2,2,1,3,2,4,1083,2709,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
Contract,,,,,,,,,,,,,,,,,,,,,
Month-to-month,3875,2,2,2,2,72,2,3,3,3,...,3,3,3,1,2,4,1238,3501,2,2
One year,1473,2,2,2,2,73,2,3,3,3,...,3,3,3,1,2,4,834,1468,2,2
Two year,1695,2,2,2,2,73,2,3,3,3,...,3,3,3,1,2,4,820,1678,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
PaperlessBilling,,,,,,,,,,,,,,,,,,,,,
No,2872,2,2,2,2,73,2,3,3,3,...,3,3,3,3,1,4,1075,2722,2,2
Yes,4171,2,2,2,2,73,2,3,3,3,...,3,3,3,3,1,4,1395,3998,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
PaymentMethod,,,,,,,,,,,,,,,,,,,,,
Bank transfer (automatic),1544,2,2,2,2,73,2,3,3,3,...,3,3,3,3,2,1,911,1531,2,2
Credit card (automatic),1522,2,2,2,2,73,2,3,3,3,...,3,3,3,3,2,1,858,1516,2,2
Electronic check,2365,2,2,2,2,72,2,3,3,3,...,3,3,3,3,2,1,1065,2284,2,2
Mailed check,1612,2,2,2,2,73,2,3,3,3,...,3,3,3,3,2,1,685,1487,2,2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
Churn,,,,,,,,,,,,,,,,,,,,,
No,5174,2,2,2,2,73,2,3,3,3,...,3,3,3,3,2,4,1460,4966,1,1
Yes,1869,2,2,2,2,72,2,3,3,3,...,3,3,3,3,2,4,910,1732,1,1

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
Y,,,,,,,,,,,,,,,,,,,,,
0,5174,2,2,2,2,73,2,3,3,3,...,3,3,3,3,2,4,1460,4966,1,1
1,1869,2,2,2,2,72,2,3,3,3,...,3,3,3,3,2,4,910,1732,1,1

In [17]:
#convert churn from (yes,no) to (0,1)
le=preprocessing.LabelEncoder()
le.fit(df['Churn'])
list(le.classes_)
dfn=le.transform(df['Churn'])

LabelEncoder()

['No', 'Yes']

In [18]:
le.inverse_transform([0,1])
df['Y']=dfn
df.info()
df.columns

array(['No', 'Yes'], dtype=object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
Y                   7043 non-null int32
dtypes: float64(1), int32(1), int64(2), object(18)
memory usage: 687.8+ KB

Index([u'customerID', u'gender', u'SeniorCitizen', u'Partner', u'Dependents',
       u'tenure', u'PhoneService', u'MultipleLines', u'InternetService',
       u'OnlineSecurity', u'OnlineBackup', u'DeviceProtection', u'TechSupport',
       u'StreamingTV', u'StreamingMovies', u'Contract', u'PaperlessBilling',
       u'PaymentMethod', u'MonthlyCharges', u'TotalCharges', u'Churn', u'Y'],
      dtype='object')

In [32]:
#separate out independent categorical variables for converting into numerical
x_catg=df.loc[:,('gender','Partner','Dependents','PowerService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod')]
x_catg.head()
x_catg.shape

,gender,Partner,Dependents,PowerService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
0,Female,Yes,No,NaN,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check
1,Male,No,No,NaN,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check
2,Male,No,No,NaN,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check
3,Male,No,No,NaN,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic)
4,Female,No,No,NaN,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check

(7043, 15)

In [37]:
for col in x_catg.columns:    
    if len(x_catg[col].unique().tolist())<=5:
        print ("Unique items in" , col , len(df[col].unique().tolist()))
        print('Count of ',col)
        df.groupby(col).nunique()

('Unique items in', 'gender', 2)
('Count of ', 'gender')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
gender,,,,,,,,,,,,,,,,,,,,,
Female,3488,1,2,2,2,73,2,3,3,3,...,3,3,3,3,2,4,1270,3345,2,2
Male,3555,1,2,2,2,73,2,3,3,3,...,3,3,3,3,2,4,1286,3376,2,2

('Unique items in', 'Partner', 2)
('Count of ', 'Partner')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
Partner,,,,,,,,,,,,,,,,,,,,,
No,3641,2,2,1,2,73,2,3,3,3,...,3,3,3,3,2,4,1241,3349,2,2
Yes,3402,2,2,1,2,73,2,3,3,3,...,3,3,3,3,2,4,1290,3346,2,2

('Unique items in', 'Dependents', 2)
('Count of ', 'Dependents')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Y
Dependents,,,,,,,,,,,,,,,,,,,,,
No,4933,2,2,2,1,72,2,3,3,3,...,3,3,3,3,2,4,1431,4615,2,2
Yes,2110,2,2,2,1,73,2,3,3,3,...,3,3,3,3,2,4,993,2066,2,2

KeyError: 'PowerService'

In [43]:
df_numeric = df.select_dtypes(include=[np.number])
df_numeric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 4 columns):
SeniorCitizen     7043 non-null int64
tenure            7043 non-null int64
MonthlyCharges    7043 non-null float64
Y                 7043 non-null int32
dtypes: float64(1), int32(1), int64(2)
memory usage: 192.6 KB

In [45]:
df_categorical =df.select_dtypes(exclude=[np.number])
df_categorical.info()
df_categorical.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 18 columns):
customerID          7043 non-null object
gender              7043 non-null object
Partner             7043 non-null object
Dependents          7043 non-null object
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: object(18)
memory usage: 495.2+ KB

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
0,7590-VHVEG,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,No
1,5575-GNVDE,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,1889.5,No
2,3668-QPYBK,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,108.15,Yes
3,7795-CFOCW,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),1840.75,No
4,9237-HQITU,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,151.65,Yes

In [20]:
# Separate out independent numerical variables
x_num=df.loc[:,('SeniorCitizen','tenure','MonthlyCharges','TotalCharges')]
x_num.head()

   SeniorCitizen  tenure  MonthlyCharges TotalCharges
0              0       1           29.85        29.85
1              0      34           56.95       1889.5
2              0       2           53.85       108.15
3              0      45           42.30      1840.75
4              0       2           70.70       151.65

In [35]:
#Convert Categorical vars to dummy coding
x_num1=pd.get_dummies(x_catg)
x_num1.head()

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,NaN,1,0,0,1,1,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
1,NaN,0,1,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
2,NaN,0,1,1,0,1,0,1,0,0,...,0,1,0,0,0,1,0,0,0,1
3,NaN,0,1,1,0,1,0,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,NaN,1,0,1,0,1,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0

In [36]:
for col in x_num1.columns:    
    if len(x_num1[col].unique().tolist())<=5:
        print ("Unique items in" , col , len(x_num1[col].unique().tolist()))
        print('Count of ',col)
        x_num1.groupby(col).nunique()

('Unique items in', 'PowerService', 1)
('Count of ', 'PowerService')

Empty DataFrame
Columns: [PowerService, gender_Female, gender_Male, Partner_No, Partner_Yes, Dependents_No, Dependents_Yes, MultipleLines_No, MultipleLines_No phone service, MultipleLines_Yes, InternetService_DSL, InternetService_Fiber optic, InternetService_No, OnlineSecurity_No, OnlineSecurity_No internet service, OnlineSecurity_Yes, OnlineBackup_No, OnlineBackup_No internet service, OnlineBackup_Yes, DeviceProtection_No, DeviceProtection_No internet service, DeviceProtection_Yes, TechSupport_No, TechSupport_No internet service, TechSupport_Yes, StreamingTV_No, StreamingTV_No internet service, StreamingTV_Yes, StreamingMovies_No, StreamingMovies_No internet service, StreamingMovies_Yes, Contract_Month-to-month, Contract_One year, Contract_Two year, PaperlessBilling_No, PaperlessBilling_Yes, PaymentMethod_Bank transfer (automatic), PaymentMethod_Credit card (automatic), PaymentMethod_Electronic check, PaymentMethod_Mailed check]
Index: []

[0 rows x 40 columns]

('Unique items in', 'gender_Female', 2)
('Count of ', 'gender_Female')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
gender_Female,,,,,,,,,,,,,,,,,,,,,
0,0,1,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,1,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'gender_Male', 2)
('Count of ', 'gender_Male')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
gender_Male,,,,,,,,,,,,,,,,,,,,,
0,0,1,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,1,1,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'Partner_No', 2)
('Count of ', 'Partner_No')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
Partner_No,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,1,1,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,1,1,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'Partner_Yes', 2)
('Count of ', 'Partner_Yes')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
Partner_Yes,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,1,1,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,1,1,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'Dependents_No', 2)
('Count of ', 'Dependents_No')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
Dependents_No,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,1,1,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,1,1,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'Dependents_Yes', 2)
('Count of ', 'Dependents_Yes')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
Dependents_Yes,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,1,1,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,1,1,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'MultipleLines_No', 2)
('Count of ', 'MultipleLines_No')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
MultipleLines_No,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,1,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,1,1,1,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'MultipleLines_No phone service', 2)
('Count of ', 'MultipleLines_No phone service')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
MultipleLines_No phone service,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,1,1,1,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'MultipleLines_Yes', 2)
('Count of ', 'MultipleLines_Yes')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
MultipleLines_Yes,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,1,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,1,1,1,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'InternetService_DSL', 2)
('Count of ', 'InternetService_DSL')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
InternetService_DSL,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'InternetService_Fiber optic', 2)
('Count of ', 'InternetService_Fiber optic')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
InternetService_Fiber optic,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'InternetService_No', 2)
('Count of ', 'InternetService_No')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
InternetService_No,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,1,2,...,1,2,2,2,2,2,2,2,2,2

('Unique items in', 'OnlineSecurity_No', 2)
('Count of ', 'OnlineSecurity_No')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
OnlineSecurity_No,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'OnlineSecurity_No internet service', 2)
('Count of ', 'OnlineSecurity_No internet service')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
OnlineSecurity_No internet service,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,1,2,...,1,2,2,2,2,2,2,2,2,2

('Unique items in', 'OnlineSecurity_Yes', 2)
('Count of ', 'OnlineSecurity_Yes')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
OnlineSecurity_Yes,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'OnlineBackup_No', 2)
('Count of ', 'OnlineBackup_No')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
OnlineBackup_No,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'OnlineBackup_No internet service', 2)
('Count of ', 'OnlineBackup_No internet service')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
OnlineBackup_No internet service,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,1,2,...,1,2,2,2,2,2,2,2,2,2

('Unique items in', 'OnlineBackup_Yes', 2)
('Count of ', 'OnlineBackup_Yes')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
OnlineBackup_Yes,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'DeviceProtection_No', 2)
('Count of ', 'DeviceProtection_No')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
DeviceProtection_No,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'DeviceProtection_No internet service', 2)
('Count of ', 'DeviceProtection_No internet service')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
DeviceProtection_No internet service,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,1,2,...,1,2,2,2,2,2,2,2,2,2

('Unique items in', 'DeviceProtection_Yes', 2)
('Count of ', 'DeviceProtection_Yes')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
DeviceProtection_Yes,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'TechSupport_No', 2)
('Count of ', 'TechSupport_No')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
TechSupport_No,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'TechSupport_No internet service', 2)
('Count of ', 'TechSupport_No internet service')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
TechSupport_No internet service,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,1,2,...,1,2,2,2,2,2,2,2,2,2

('Unique items in', 'TechSupport_Yes', 2)
('Count of ', 'TechSupport_Yes')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
TechSupport_Yes,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'StreamingTV_No', 2)
('Count of ', 'StreamingTV_No')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
StreamingTV_No,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'StreamingTV_No internet service', 2)
('Count of ', 'StreamingTV_No internet service')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
StreamingTV_No internet service,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,1,2,...,1,2,2,2,2,2,2,2,2,2

('Unique items in', 'StreamingTV_Yes', 2)
('Count of ', 'StreamingTV_Yes')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
StreamingTV_Yes,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

('Unique items in', 'StreamingMovies_No', 2)
('Count of ', 'StreamingMovies_No')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
StreamingMovies_No,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,1,2,2,2,2,2,2,2,2,2

('Unique items in', 'StreamingMovies_No internet service', 2)
('Count of ', 'StreamingMovies_No internet service')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
StreamingMovies_No internet service,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,1,2,...,1,2,2,2,2,2,2,2,2,2

('Unique items in', 'StreamingMovies_Yes', 2)
('Count of ', 'StreamingMovies_Yes')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
StreamingMovies_Yes,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,1,2,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,1,2,2,2,2,2,2,2,2,2

('Unique items in', 'Contract_Month-to-month', 2)
('Count of ', 'Contract_Month-to-month')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
Contract_Month-to-month,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,1,2,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,1,1,1,2,2,2,2,2,2

('Unique items in', 'Contract_One year', 2)
('Count of ', 'Contract_One year')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
Contract_One year,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,1,2,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,1,1,1,2,2,2,2,2,2

('Unique items in', 'Contract_Two year', 2)
('Count of ', 'Contract_Two year')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
Contract_Two year,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,1,2,2,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,1,1,1,2,2,2,2,2,2

('Unique items in', 'PaperlessBilling_No', 2)
('Count of ', 'PaperlessBilling_No')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
PaperlessBilling_No,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,1,1,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,1,1,2,2,2,2

('Unique items in', 'PaperlessBilling_Yes', 2)
('Count of ', 'PaperlessBilling_Yes')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
PaperlessBilling_Yes,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,1,1,2,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,1,1,2,2,2,2

('Unique items in', 'PaymentMethod_Bank transfer (automatic)', 2)
('Count of ', 'PaymentMethod_Bank transfer (automatic)')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
PaymentMethod_Bank transfer (automatic),,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,1,2,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,1,1,1,1

('Unique items in', 'PaymentMethod_Credit card (automatic)', 2)
('Count of ', 'PaymentMethod_Credit card (automatic)')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
PaymentMethod_Credit card (automatic),,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,1,2,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,1,1,1,1

('Unique items in', 'PaymentMethod_Electronic check', 2)
('Count of ', 'PaymentMethod_Electronic check')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
PaymentMethod_Electronic check,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,1,2
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,1,1,1,1

('Unique items in', 'PaymentMethod_Mailed check', 2)
('Count of ', 'PaymentMethod_Mailed check')

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
PaymentMethod_Mailed check,,,,,,,,,,,,,,,,,,,,,
0,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,1
1,0,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,1,1,1,1

In [22]:
#Get all Xs together
x=pd.concat([x_num1,x_num],axis=1)
x.head()

,PowerService,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,MultipleLines_No,MultipleLines_No phone service,MultipleLines_Yes,...,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,SeniorCitizen,tenure,MonthlyCharges,TotalCharges
0,NaN,1,0,0,1,1,0,0,1,0,...,0,1,0,0,1,0,0,1,29.85,29.85
1,NaN,0,1,1,0,1,0,1,0,0,...,1,0,0,0,0,1,0,34,56.95,1889.5
2,NaN,0,1,1,0,1,0,1,0,0,...,0,1,0,0,0,1,0,2,53.85,108.15
3,NaN,0,1,1,0,1,0,0,1,0,...,1,0,1,0,0,0,0,45,42.30,1840.75
4,NaN,1,0,1,0,1,0,1,0,0,...,0,1,0,0,1,0,0,2,70.70,151.65

In [27]:
#Create Dependent Variable
y=df['Y']
y.head()

0    0
1    0
2    1
3    0
4    1
Name: Y, dtype: int32

In [30]:
x.describe

<bound method DataFrame.describe of       PowerService  gender_Female  gender_Male  Partner_No  Partner_Yes  \
0              NaN              1            0           0            1
1              NaN              0            1           1            0
2              NaN              0            1           1            0
3              NaN              0            1           1            0
4              NaN              1            0           1            0
5              NaN              1            0           1            0
6              NaN              0            1           1            0
7              NaN              1            0           1            0
8              NaN              1            0           0            1
9              NaN              0            1           1            0
10             NaN              0            1           0            1
11             NaN              0            1           1            0
12             NaN              0            1           0            1
13             NaN              0            1           1            0
14             NaN              0            1           1            0
15             NaN              1            0           0            1
16             NaN              1            0           1            0
17             NaN              0            1           1            0
18             NaN              1            0           0            1
19             NaN              1            0           1            0
20             NaN              0            1           1            0
21             NaN              0            1           0            1
22             NaN              0            1           1            0
23             NaN              1            0           0            1
24             NaN              0            1           0            1
25             NaN              1            0           1            0
26             NaN              0            1           0            1
27             NaN              0            1           0            1
28             NaN              0            1           0            1
29             NaN              1            0           1            0
...            ...            ...          ...         ...          ...
7013           NaN              1            0           1            0
7014           NaN              0            1           1            0
7015           NaN              0            1           0            1
7016           NaN              1            0           1            0
7017           NaN              1            0           1            0
7018           NaN              0            1           0            1
7019           NaN              1            0           1            0
7020           NaN              0            1           0            1
7021           NaN              0            1           1            0
7022           NaN              0            1           1            0
7023           NaN              1            0           0            1
7024           NaN              0            1           0            1
7025           NaN              1            0           1            0
7026           NaN              1            0           1            0
7027           NaN              0            1           1            0
7028           NaN              1            0           0            1
7029           NaN              1            0           1            0
7030           NaN              1            0           1            0
7031           NaN              0            1           0            1
7032           NaN              0            1           1            0
7033           NaN              0            1           1            0
7034           NaN              1            0           1            0
7035           NaN              0            1           1            0
7036           NaN              1            0           1            0
7037           NaN              1            0           1            0
7038           NaN              0            1           0            1
7039           NaN              1            0           0            1
7040           NaN              1            0           0            1
7041           NaN              0            1           0            1
7042           NaN              0            1           1            0

      Dependents_No  Dependents_Yes  MultipleLines_No  \
0                 1               0                 0
1                 1               0                 1
2                 1               0                 1
3                 1               0                 0
4                 1               0                 1
5                 1               0                 0
6                 0               1                 0
7                 1               0                 0
8                 1               0                 0
9                 0               1                 1
10                0               1                 1
11                1               0                 1
12                1               0                 0
13                1               0                 0
14                1               0                 1
15                0               1                 0
16                1               0                 1
17                0               1                 0
18                0               1                 1
19                1               0                 1
20                1               0                 0
21                1               0                 1
22                1               0                 1
23                1               0                 0
24                0               1                 1
25                1               0                 1
26                0               1                 0
27                0               1                 0
28                1               0                 0
29                0               1                 1
...             ...             ...               ...
7013              1               0                 0
7014              1               0                 0
7015              1               0                 1
7016              1               0                 1
7017              1               0                 1
7018              0               1                 1
7019              1               0                 1
7020              0               1                 1
7021              1               0                 1
7022              1               0                 0
7023              1               0                 0
7024              1               0                 0
7025              1               0                 0
7026              1               0                 1
7027              1               0                 1
7028              1               0                 1
7029              1               0                 0
7030              1               0                 1
7031              1               0                 0
7032              1               0                 0
7033              1               0                 1
7034              1               0                 0
7035              1               0                 1
7036              1               0                 0
7037              1               0                 1
7038              0               1                 0
7039              0               1                 0
7040              0               1                 0
7041              1               0                 0
7042              1               0                 1

      MultipleLines_No phone service  MultipleLines_Yes      ...       \
0                                  1                  0      ...
1                                  0                  0      ...
2                                  0                  0      ...
3                                  1                  0      ...
4                                  0                  0      ...
5                                  0                  1      ...
6                                  0                  1      ...
7                                  1                  0      ...
8                                  0                  1      ...
9                                  0                  0      ...
10                                 0                  0      ...
11                                 0                  0      ...
12                                 0                  1      ...
13                                 0                  1      ...
14                                 0                  0      ...
15                                 0                  1      ...
16                                 0                  0      ...
17                                 0                  1      ...
18                                 0                  0      ...
19                                 0                  0      ...
20                                 1                  0      ...
21                                 0                  0      ...
22                                 0                  0      ...
23                                 0                  1      ...
24                                 0                  0      ...
25                                 0                  0      ...
26                                 0                  1      ...
27                                 1                  0      ...
28                                 0                  1      ...
29                                 0                  0      ...
...                              ...                ...      ...
7013                               0                  1      ...
7014                               0                  1      ...
7015                               0                  0      ...
7016                               0                  0      ...
7017                               0                  0      ...
7018                               0                  0      ...
7019                               0                  0      ...
7020                               0                  0      ...
7021                               0                  0      ...
7022                               0                  1      ...
7023                               0                  1      ...
7024                               0                  1      ...
7025                               0                  1      ...
7026                               0                  0      ...
7027                               0                  0      ...
7028                               0                  0      ...
7029                               1                  0      ...
7030                               0                  0      ...
7031                               0                  1      ...
7032                               0                  1      ...
7033                               0                  0      ...
7034                               0                  1      ...
7035                               0                  0      ...
7036                               1                  0      ...
7037                               0                  0      ...
7038                               0                  1      ...
7039                               0                  1      ...
7040                               1                  0      ...
7041                               0                  1      ...
7042                               0                  0      ...

      PaperlessBilling_No  PaperlessBilling_Yes  \
0                       0                     1
1                       1                     0
2                       0                     1
3                       1                     0
4                       0                     1
5                       0                     1
6                       0                     1
7                       1                     0
8                       0                     1
9                       1                     0
10                      0                     1
11                      1                     0
12                      1                     0
13                      0                     1
14                      0                     1
15                      1                     0
16                      1                     0
17                      1                     0
18                      1                     0
19                      0                     1
20                      0                     1
21                      1                     0
22                      1                     0
23                      0                     1
24                      1                     0
25                      0                     1
26                      0                     1
27                      1                     0
28                      0                     1
29                      0                     1
...                   ...                   ...
7013                    0                     1
7014                    0                     1
7015                    0                     1
7016                    1                     0
7017                    1                     0
7018                    0                     1
7019                    1                     0
7020                    0                     1
7021                    0                     1
7022                    0                     1
7023                    0                     1
7024                    0                     1
7025                    0                     1
7026                    0                     1
7027                    1                     0
7028                    1                     0
7029                    0                     1
7030                    0                     1
7031                    1                     0
7032                    0                     1
7033                    0                     1
7034                    0                     1
7035                    0                     1
7036                    1                     0
7037                    0                     1
7038                    0                     1
7039                    0                     1
7040                    0                     1
7041                    0                     1
7042                    0                     1

      PaymentMethod_Bank transfer (automatic)  \
0                                           0
1                                           0
2                                           0
3                                           1
4                                           0
5                                           0
6                                           0
7                                           0
8                                           0
9                                           1
10                                          0
11                                          0
12                                          0
13                                          1
14                                          0
15                                          0
16                                          0
17                                          1
18                                          0
19                                          0
20                                          0
21                                          1
22                                          0
23                                          0
24                                          0
25                                          1
26                                          0
27                                          0
28                                          0
29                                          0
...                                       ...
7013                                        1
7014                                        0
7015                                        0
7016                                        0
7017                                        1
7018                                        0
7019                                        0
7020                                        0
7021                                        0
7022                                        0
7023                                        0
7024                                        0
7025                                        1
7026                                        1
7027                                        0
7028                                        1
7029                                        0
7030                                        0
7031                                        0
7032                                        0
7033                                        0
7034                                        0
7035                                        1
7036                                        0
7037                                        1
7038                                        0
7039                                        0
7040                                        0
7041                                        0
7042                                        1

      PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                         0                               1
1                                         0                               0
2                                         0                               0
3                                         0                               0
4                                         0                               1
5                                         0                               1
6                                         1                               0
7                                         0                               0
8                                         0                               1
9                                         0                               0
10                                        0                               0
11                                        1                               0
12                                        1                               0
13                                        0                               0
14                                        0                               1
15                                        1                               0
16                                        0                               0
17                                        0                               0
18                                        1                               0
19                                        0                               1
20                                        0                               1
21                                        0                               0
22                                        0                               0
23                                        1                               0
24                                        1                               0
25                                        0                               0
26                                        0                               1
27                                        0                               1

In [24]:
#Create train and test data 75% and 25%
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.25,random_state=1)
train_x.shape
test_x.shape
train_y.shape
test_y.shape
type(train_x)

(5282, 44)

(1761, 44)

(5282,)

(1761,)

pandas.core.frame.DataFrame

In [25]:
#Build a logistic regression model
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()

In [26]:
log.fit(train_x,train_y)

c:\python27\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float:

In [ ]:
log.coef_

In [ ]:
#find out key predictor of churn
coeff=pd.concat([pd.DataFrame(x.columns),pd.DataFrame(np.transpose(log.coef_))],axis=1)
coeff.columns=('Variable','Coeff')
coeff.sort_values('Variable',ascending=True)